In [33]:
import pandas
import csv
import sys
sys.path.append ('/Users/Zhonghou/Desktop/UT/Preston Lab/modified_predictive_representations')

# receives a tab-separated input file and returns the data frame containing its contents
def read_file (directory):
    with open (directory) as file:
        matrix = pandas.read_csv (file, sep='\t')
    return matrix

# gets the objects column from the experimental run which is inputted
def get_objects(directory):
    matrix = read_file (directory)
    return matrix[[' objnum']]
    

#get_objects ('/Users/Zhonghou/Desktop/UT/Preston Lab/tesserScan_101_E_StructLearn_Part1_Run_1.txt')

# makes the envstep necessary for SRclass_nathum_exp1.py
def make_envstep (directory):
    env_step = []
    objects = get_objects (directory)
    index = 0
    while index < len (objects):
        obj = objects[index]
        if index < len (objects) - 2:
            env_step.append ([obj, 0, False])
        else:
            env_step.append ([obj, 0, True])
    return env_step

      objnum
0          9
1          4
2          3
3          4
4          8
5          4
6          6
7          9
8          4
9          3
10         4
11         6
12        10
13         5
14         7
15         6
16         9
17         5
18         6
19         5
20         4
21         5
22        10
23         6
24        10
25         5
26         4
27         9
28        10
29        11
..       ...
285       15
286       13
287       15
288       11
289       15
290       11
291       12
292       11
293       10
294        8
295        7
296        6
297        4
298        5
299        6
300        7
301        6
302        4
303        5
304        9
305        7
306        8
307        9
308        8
309        7
310        4
311        9
312       10
313        6
314        5

[315 rows x 1 columns]