In [1]:
import pandas as pd
import numpy as np
from tesser import util
from tesser import fit
from tesser import network
from tesser import sr
from tesser import tasks
from tesser import rsa 
import seaborn as sns
from scipy.stats import linregress
from scipy.stats import pearsonr
import scipy.spatial.distance as sd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_dir = "/home/rodrigo/Dropbox/tesser_successor/Data/"

In [3]:
induct_all = util.load_induct(data_dir)

In [4]:
induct_all

,SubjNum,TrialNum,QuestType,Environment,CueNum,CueObject,Opt1Num,Option1,Opt2Num,Option2,Resp,Acc,RT,cue,opt1,opt2,response
0,100,1,Prim,ocean,2,object_23.jpg,16,object_28.jpg,20,object_16.jpg,NaN,0,NaN,1,15,19,NaN
1,100,2,Bound2,desert,4,object_12.jpg,10,object_2.jpg,19,object_4.jpg,2.0,0,2.974157,3,9,18,1.0
2,100,3,Prim,desert,5,object_30.jpg,6,object_18.jpg,2,object_23.jpg,1.0,1,3.190848,4,5,1,0.0
3,100,4,Prim,ocean,2,object_23.jpg,9,object_35.jpg,19,object_4.jpg,2.0,1,3.373906,1,8,18,1.0
4,100,5,Prim,ocean,1,object_6.jpg,19,object_4.jpg,13,object_1.jpg,2.0,0,3.094699,0,18,12,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,138,38,Prim,desert,8,object_3.jpg,9,object_16.jpg,21,object_28.jpg,2.0,0,2.025821,7,8,20,1.0
1550,138,39,Prim,forest,14,object_1.jpg,19,object_35.jpg,15,object_6.jpg,2.0,1,1.997691,13,18,14,1.0
1551,138,40,Prim,ocean,21,object_28.jpg,14,object_1.jpg,2,object_36.jpg,2.0,1,1.114204,20,13,1,1.0
1552,138,41,Bound1,forest,11,object_13.jpg,10,object_9.jpg,16,object_30.jpg,1.0,0,0.623270,10,9,15,0.0
1553,138,42,Prim,ocean,19,object_35.jpg,20,object_4.jpg,9,object_16.jpg,1.0,1,0.830349,18,19,8,0.0

In [5]:
# get one subject
struct_all = util.load_struct(data_dir)
struct_all

,SubjNum,run,trial,objnum,file,orientnam,orientnum,resp,respnum,acc,rt,part,seqtype
0,100,1,1,10,object_2.jpg,cor,1.0,c,1.0,1.0,1.426618,1,NaN
1,100,1,2,5,object_30.jpg,cor,1.0,c,1.0,1.0,0.759233,1,NaN
2,100,1,3,4,object_12.jpg,cor,1.0,c,1.0,1.0,0.866177,1,NaN
3,100,1,4,3,object_7.jpg,cor,1.0,c,1.0,1.0,0.712731,1,NaN
4,100,1,5,1,object_6.jpg,cor,1.0,c,1.0,1.0,0.654236,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90904,138,6,145,21,object_28.jpg,cor,1.0,c,1.0,1.0,0.831956,2,1.0
90905,138,6,146,18,object_12.jpg,rot,0.0,n,2.0,1.0,0.839406,2,1.0
90906,138,6,147,17,object_18.jpg,cor,1.0,c,1.0,1.0,0.909276,2,1.0
90907,138,6,148,12,object_34.jpg,cor,1.0,c,1.0,1.0,0.907248,2,1.0
90908,138,6,149,14,object_1.jpg,cor,1.0,c,1.0,1.0,0.718592,2,1.0

In [7]:
import importlib
subject_list = util.subj_list()
for sub in subject_list:
    subj_struct = struct_all.query(f'SubjNum == {sub}')
    subj_induct = induct_all.query(f'SubjNum == {sub}')
    importlib.reload(fit)
    fixed = {}
    var_names = ['gamma', 'alpha', 'tau']
    var_bounds = {'alpha': [0, 1], 'gamma': [0, 1], 'tau': [0, 10]}
    param, logl = fit.fit_induct(subj_struct, subj_induct, fixed, var_names, 
                                 var_bounds, verbose=False)
    param['subject']= sub
    param['log_like'] = logl
    df = pd.DataFrame.from_dict(param, orient='columns') 
df.to_csv('//home/rodrigo/preston_labs/tesser_successor/fitting_data.csv')

/home/rodrigo/Documents/preston_labs/tesser_successor/tesser/fit.py:51: RuntimeWarning: invalid value encountered in double_scalars
  return SR[A][B] ** tau / (SR[A][B] ** tau + SR[A][C] ** tau)

ValueError: If using all scalar values, you must pass an index